h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: x-large;
}

h2{
    text-align: left;
    color: brown;
    text-decoration: aqua;
}
h3{
    text-align: right;
    color: aquamarine;
}
p{
    text-align: center;
    color: red;
}